.stockCard {
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 8px;
    margin-bottom: 1rem;
    cursor: pointer;

    .title {
        font-size: 3rem;
        margin: 8px 0;
        color: #5BC0DE;
    }

    .price {
        color: #A9A9A9;
        margin: 0;
    }
}